# Data Exploration on Salary by College Major Data

Data exploration to gain insights into the salary trends across different undergraduate majors. Data used is from 2008.

---

In [1]:
import pandas as pd
# display() allows us to view in rich-text without having
# the object we want to view in the last line of the cell
from IPython.display import display

In [2]:
# Load in csv
df = pd.read_csv("salaries_by_college_major.csv")
clean_df = df.dropna()  # For quickly verifying solutions provided

# Limit max rows to 10 to avoid clutter
pd.set_option("display.max_rows", 10)

In [3]:
# Inspect df
df.head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,41600.0,76800.0,50600.0,136000.0,Business

In [4]:
# Check shape and columns
display(df.shape)
df.dtypes

(51, 6)

Undergraduate Major                   object
Starting Median Salary               float64
Mid-Career Median Salary             float64
Mid-Career 10th Percentile Salary    float64
Mid-Career 90th Percentile Salary    float64
Group                                 object
dtype: object

In [5]:
# Drop rows with NAN values
df = df.dropna()
df

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,41600.0,76800.0,50600.0,136000.0,Business
...,...,...,...,...,...,...
45,Political Science,40800.0,78200.0,41200.0,168000.0,HASS
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS

In [6]:
# Which major has the highest median starting salary?
max_index = df["Starting Median Salary"].idxmax()
# Note that using .idxmax() has its caveat in this context. More
# discussed on the following practice problems
df.loc[max_index]

Undergraduate Major                  Physician Assistant
Starting Median Salary                           74300.0
Mid-Career Median Salary                         91700.0
Mid-Career 10th Percentile Salary                66400.0
Mid-Career 90th Percentile Salary               124000.0
Group                                               STEM
Name: 43, dtype: object

## Practice on Minimum and Maximum Values

1. What college major has the highest mid-career salary? How much do graduates with this major earn? (Mid-career is defined as having 10+ years of experience).

2. Which college major has the lowest starting salary and how much do graduates earn after university?

3. Which college major has the lowest mid-career salary and how much can people expect to earn with this degree?

In [7]:
# 1. What college major has the highest mid-career salary?
# How much do graduates with this major earn? 
# (Mid-career is defined as having 10+ years of experience).

filt = df["Mid-Career Median Salary"] == df["Mid-Career Median Salary"].max()
df.loc[filt]
# Conclusion: Chemical engineering majors have the 
# highest mid-career median salary of 107,000 USD

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
8,Chemical Engineering,63200.0,107000.0,71900.0,194000.0,STEM

In [8]:
# 2. Which college major has the lowest starting salary
# and how much do graduates earn after university?

filt = df["Starting Median Salary"] == df["Starting Median Salary"].min()
df.loc[filt]
# Conclusion: Spanish majors have the 
# lowest starting median salary of 34,000 USD

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS

In [9]:
# 3. Which college major has the lowest mid-career salary 
# and how much can people expect to earn with this degree? 

filt = df["Mid-Career Median Salary"] == df["Mid-Career Median Salary"].min()
df.loc[filt]
# Conclusion: Education and religion majors share the lowest
# mid-career median salary of 52,000 USD

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
18,Education,34900.0,52000.0,29300.0,102000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS

In [10]:
# Note
# In the solutions provided by 100 Days of Code, they use
# idxmin() and idxmax() which only returns the first occurence
# of the minimum or maximum value, thus only returns 1 row. This
# leads to less accurate observations as shown by the 3rd problem.
# i.e. using idxmin() will only return the "Education" major row even
# when education and religion is tied for the lowest mid career salary
df.loc[df['Mid-Career Median Salary'].idxmin()]
# Note how it only returns Education even though there are two with the 
# same value.

Undergraduate Major                  Education
Starting Median Salary                 34900.0
Mid-Career Median Salary               52000.0
Mid-Career 10th Percentile Salary      29300.0
Mid-Career 90th Percentile Salary     102000.0
Group                                     HASS
Name: 18, dtype: object

---

In [11]:
# Say we want to find out how risky, salary-wise, a college major is by taking
# the difference between the high paying salaries with the low paying salaries


# Take difference between 90th and 10th percentile mid-career salary
salary_diff = df["Mid-Career 90th Percentile Salary"] - df["Mid-Career 10th Percentile Salary"]

# Create a new column with the difference
df.insert(5, "Median Spread", salary_diff)
df

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Median Spread,Group
0,Accounting,46000.0,77100.0,42200.0,152000.0,109800.0,Business
1,Aerospace Engineering,57700.0,101000.0,64300.0,161000.0,96700.0,STEM
2,Agriculture,42600.0,71900.0,36300.0,150000.0,113700.0,Business
3,Anthropology,36800.0,61500.0,33800.0,138000.0,104200.0,HASS
4,Architecture,41600.0,76800.0,50600.0,136000.0,85400.0,Business
...,...,...,...,...,...,...,...
45,Political Science,40800.0,78200.0,41200.0,168000.0,126800.0,HASS
46,Psychology,35900.0,60400.0,31600.0,127000.0,95400.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,66700.0,HASS
48,Sociology,36500.0,58200.0,30700.0,118000.0,87300.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,65400.0,HASS

In [12]:
# Alternate method. Accomplishes the same task as above

# # Uncomment to run
# salary_diff = df["Mid-Career 90th Percentile Salary"].subtract(df["Mid-Career 10th Percentile Salary"])

# # As opposed to .insert(), this will append the column to the end of the DataFrame
# df["Median Spread"] = salary_diff
# df

In [13]:
# Sort by "Median Spread" (ascending)
df.sort_values("Median Spread")

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Median Spread,Group
40,Nursing,54200.0,67000.0,47600.0,98300.0,50700.0,Business
43,Physician Assistant,74300.0,91700.0,66400.0,124000.0,57600.0,STEM
41,Nutrition,39900.0,55300.0,33900.0,99200.0,65300.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,65400.0,HASS
27,Health Care Administration,38800.0,60600.0,34600.0,101000.0,66400.0,Business
...,...,...,...,...,...,...,...
42,Philosophy,39900.0,81200.0,35500.0,168000.0,132500.0,HASS
36,Marketing,40800.0,79600.0,42100.0,175000.0,132900.0,Business
37,Math,45400.0,92400.0,45200.0,183000.0,137800.0,STEM
22,Finance,47900.0,88300.0,47200.0,195000.0,147800.0,Business
17,Economics,50100.0,98600.0,50600.0,210000.0,159400.0,Business

## Practice on Sorting
1. Using the .sort_values() method, can you find the degrees with the highest potential? Find the top 5 degrees with the highest values in the 90th percentile. 

2. Find the degrees with the greatest spread in salaries. Which majors have the largest difference between high and low earners after graduation.

In [14]:
# 1. Using the .sort_values() method, can you find the degrees with the highest potential? 
# Find the top 5 degrees with the highest values in the 90th percentile.


sorted_median_df = df.sort_values("Mid-Career 90th Percentile Salary", ascending=False)
sorted_median_df[["Undergraduate Major", "Mid-Career 90th Percentile Salary"]].head()
# Conclusion: from highest to lowest potential: 
# Economics, Finance, Chemical Engineering, Math, Physics

     Undergraduate Major  Mid-Career 90th Percentile Salary
17             Economics                           210000.0
22               Finance                           195000.0
8   Chemical Engineering                           194000.0
37                  Math                           183000.0
44               Physics                           178000.0

In [15]:
# 2. Find the degrees with the greatest spread in salaries. Which majors 
# have the largest difference between high and low earners after graduation.


sorted_df = df.sort_values("Median Spread", ascending=False)
sorted_df[["Undergraduate Major", "Median Spread"]].head()
# Conclusion: Economics, Finance, Math, Marketing, Philosophy

   Undergraduate Major  Median Spread
17           Economics       159400.0
22             Finance       147800.0
37                Math       137800.0
36           Marketing       132900.0
42          Philosophy       132500.0

In [16]:
# Alternatively, we can use .nlargest() and .nsmallest() for sorting.
# This was not used as the exercise was meant to practice using .sort_values()


# 1
df_1 = df.nlargest(5, "Mid-Career 90th Percentile Salary")
display(df_1[["Undergraduate Major", "Mid-Career 90th Percentile Salary"]])

# 2
df_2 = df.nlargest(5, "Median Spread")
display(df_2[["Undergraduate Major", "Median Spread"]])

     Undergraduate Major  Mid-Career 90th Percentile Salary
17             Economics                           210000.0
22               Finance                           195000.0
8   Chemical Engineering                           194000.0
37                  Math                           183000.0
44               Physics                           178000.0

   Undergraduate Major  Median Spread
17           Economics       159400.0
22             Finance       147800.0
37                Math       137800.0
36           Marketing       132900.0
42          Philosophy       132500.0

---

In [17]:
# Grouping
# Suppose we want to have our data grouped by category (STEM, HASS, business)

# Format number on DataFrames to have 2 decimal places.
pd.options.display.float_format = '{:,.2f}'.format 

# Group by using pandas' groupby method
groups = df.groupby("Group")
# Mean of each group
groups.mean(numeric_only=True)

,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Median Spread
Group,,,,,
Business,"44,633.33","75,083.33","43,566.67","147,525.00","103,958.33"
HASS,"37,186.36","62,968.18","34,145.45","129,363.64","95,218.18"
STEM,"53,862.50","90,812.50","56,025.00","157,625.00","101,600.00"